<footer id="footer" class="py-bottom-64 text-center animate-this cursor-none" data-barba="container" data-barba-namespace="home">
    <p class="text-slate-300 footer mt-24 cursorHover">
        Made with <img alt="Purple Heart Icon" class="purple-heart" src="/images/general/purple-heart.svg"/> by
        <span class="text-purple-500">Teodor Grigor</span>
        <br>
        &copy; <span id="year"></span> Teogor. All rights reserved.
    </p>
</footer>

<!-- HOW-TO-USE
<footer id="footer"></footer>
<script>
    // Load the footer HTML using fetch
    fetch('footer.html')
        .then(response => response.text())
        .then(html => {
            // Insert the footer HTML into the footer element
            document.getElementById('footer').innerHTML = html;

            // Update the current year
            const currentYear = new Date().getFullYear();
            document.getElementById('year').textContent = currentYear.toString();
        });
</script>
-->